@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    circle,
    rgb(0, 19, 44) 0%,
    rgba(5, 0, 15, 1) 60%,
    rgba(5, 0, 15, 1) 100%
  );
  background-attachment: fixed;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #ddd;
}

img {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 3px;
  box-shadow: 10px 10px 20px rgba(5, 0, 15, 0.3);
}

textarea,
input {
  font-family: "Poppins", sans-serif;
}

/********* Start *********/

/********* Header *********/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 10vh;
  background-color: rgb(5, 0, 15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ddd;
  z-index: 10;
}

@media screen and (max-width: 535px) {
  header p {
    order: -2;
  }

  header .icons {
    order: -1;
  }
}

header p {
  font-size: 2rem;
  margin: 0 1rem;
  text-align: center;
}

header p span {
  font-family: "Amarante", cursive;
  color: #ffdf00;
}

header nav {
  display: flex;
  flex: 1;
  font-size: 1rem;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

header nav ul li {
  display: inline-block;
  white-space: nowrap;
  padding: 1rem 0.5rem;
}

header nav ul li:hover {
  color: #ffffff;
  cursor: pointer;
}

header .icons {
  display: flex;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
}

header .icons a {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  transition: all 0.25s;
  flex: 1;
}

header .icons a:hover {
  color: #ffffff;
  cursor: pointer;
  transform: scale(1.1);
}

/********* Main Content *********/

section {
  min-height: 90vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

main .introduction {
  margin: 0 5%;
  justify-content: space-around;
}

main .introduction img {
  max-width: 50vw;
  width: 15rem;
  background-color: #ffffff;
  border: 1px solid #aaa;
  padding: 2px;
  box-shadow: 10px 10px 20px rgba(5, 0, 15, 0.3);
}

main .introduction .text {
  flex: 1;
  max-width: 700px;
  color: #eee;
  font-family: "Roboto Mono", monospace;
}

@keyframes blink-caret {
  from,
  to {
    color: transparent;
  }

  50% {
    color: #ffdf00;
  }
}

main .introduction .text h1 {
  color: #eee;
  font-size: 4rem;
}

main .introduction .text h3 {
  color: #eee;
  font-size: 2rem;
  font-weight: normal;
  padding: 0.5rem 0 1rem 0;
}

main .introduction .text p {
  color: #eee;
  width: 90%;
}

.cursor::after {
  content: "_";
  font-weight: 900;
  animation: blink-caret 0.75s step-end infinite;
}

/********* Previous Work *********/

main .previous-work {
  background-color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

main .previous-work .slide {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

main .previous-work .current {
  z-index: 1;
  opacity: 1;
  transition: all 1s ease-in-out;
}

main .previous-work .info {
  width: 40%;
  overflow: hidden;
  margin-right: 30px;
}

main .previous-work .info h1 {
  overflow: hidden;
  text-align: left;
  font-size: 4em;
}

main .previous-work img {
  background-color: #eee;
  max-width: 40%;
  overflow: hidden;
  text-align: center;
  max-height: 50%;
  transform: rotateZ(20deg);
}

main .previous-work #left {
  position: absolute;
  left: 5%;
  font-size: 2em;
  cursor: pointer;
  z-index: 2;
}

main .previous-work #right {
  position: absolute;
  right: 5%;
  font-size: 2em;
  cursor: pointer;
  z-index: 2;
}

/********* Contact Us *********/

main .contact-us {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

main .contact-us .contact-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 35%;
  height: 80%;
  left: 8%;
  background-color: #fff;
  text-align: center;
  padding: 32px 16px;
  background-color: #ffdf00;
  box-shadow: 2px 0px 20px rgba(5, 0, 15, 0.3);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main .contact-us .contact-info * {
  margin-bottom: 16px;
  padding-left: 8px;
}

main .contact-us .contact-info > div {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 32px;
  font-size: 20px;
}

main .contact-us .contact-info h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 32px;
}

/********* Email Form *********/
main .contact-us form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 90%;
  padding-left: 22%;
  padding-right: 16px;
  transform: translateX(-10%);
  background-color: #fff;
}

main .contact-us form *:focus {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-style: solid;
  border-color: #ffdf00;
}

main .contact-us form h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 32px;
}

main .contact-us form label {
  align-self: start;
  margin-left: 8px;
  padding: 0px 2px;
  background-color: white;
  transform: translateY(40%);
}

main .contact-us form input {
  padding: 10px;
  width: 100%;
  margin-bottom: 16px;
}

main .contact-us form textarea {
  padding: 10px;
  width: 100%;
  height: 100px;
  resize: none;
  margin-bottom: 16px;
}

main .contact-us form button {
  background-color: #ffdf00;
  border: none;
  border-radius: 8px;
  align-self: center;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
  border: 2px transparent solid;
}

main .contact-us button:hover {
  background-color: transparent;
  border: 2px #ffdf00 solid;
}

/********* Footer *********/
footer {
  background-color: rgba(7, 0, 15, 0.9);
  width: 100%;
  height: 5vh;
  line-height: 5vh;
  font-size: small;
  text-align: center;
  color: #ddd;
}
